<h1 class="titre">Liste des parents</h1>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Age</th>
        <th>Adresse</th>
        <th>Téléphone</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @parents.each do |parent| %>
        <tr>
          <td><%= parent.nom %></td>
          <td><%= parent.prenom %></td>
          <td><%= parent.date_de_naissance %></td>
          <td><%= parent.age %> ans</td>
          <td><%= parent.adresse %></td>
          <td><!--%= parent.telephone %--></td>
          <td><%= link_to 'Montrer', parent %></td>
          <td><%= link_to 'Modifier', edit_parent_path(parent) %></td>
          <td><%= link_to 'Supprimer', parent, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>

<br>

<%= button_to 'Nouveau Parent', new_parent_path, method: :get, class: "btn btn-primary" %>
