<!DOCTYPE html>
<html>
<head>
  <title>Test4</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <%= render "layouts/navbar" %>


<%= yield %>

</body>
</html>
